/* RESERVA */
.reserv {
    width: 100%;
    height: 300px;
    background-image: url(http://www.juntadeandalucia.es/presidencia/portavoz/resources/files/2019/4/10/1554900215154SYF_menu_restaurante_EST.jpg);
    background-position: 25% 25%;
}