*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* GENERAL */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(165, 153, 44);
    text-decoration: none;
}

.titulos{
    padding: 20px;
    font-size: 24px;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}